training_sets_3det_9par_256Hz/ filter=lfs diff=lfs merge=lfs -text
'training_sets_3det_9par_256Hz/tset_tot-100000_split-1000/*.h5py' filter=lfs diff=lfs merge=lfs -text
'training_sets_3det_9par_256Hz/tset_tot-10000_split-1000/*.h5py' filter=lfs diff=lfs merge=lfs -text
